{% extends 'base_site.html' %}
{% load static %}

{% block pagetitle %}
  FarmConnect - AboutUs
{% endblock %}

{% block content %}
  <section class="mt-2">
    <img class="w-full aspect-video rounded-md object-cover" src="{% static 'img/team1.jpg' %}" alt="Project banner 1" />
    <h1 class="mb-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Nurturing Growth, Cultivating Change</h1>
    <div class="ml-6">
      <p class="mb-6 text-lg font-normal text-gray-500 dark:text-gray-400">Welcome to FarmConnect, where our journey is rooted in a shared vision of transforming agriculture through technology. Our story is one of passion, innovation, and a commitment to uplifting the backbone of Sierra Leone—the small-scale farmers.</p>
    </div>
  </section>

  <div class="grid gap-2">
    <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><span>Our Mission</span></h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">At FarmConnect, we believe in creating a sustainable and empowered future for farmers. Our mission is to bridge the gap between traditional farming practices and the limitless possibilities technology offers. We envision a thriving agricultural ecosystem that not only benefits farmers but also contributes to the overall growth of Sierra Leone.</p>
    </div>

    <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><span>Why FarmConnect</span></h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Our platform is more than just a marketplace; it's a catalyst for change. By providing real-time market prices, eliminating intermediaries, and fostering a sense of community, we're empowering farmers to make informed decisions and take control of their agricultural journey.</p>
    </div>

    <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><span>Our Values</span></h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Transparency, fairness, and community are at the core of everything we do. We value the hard work of farmers and strive to create a platform that respects and reflects their dedication. Through partnerships and ongoing enhancements, we are dedicated to ensuring that FarmConnect remains a dynamic force for positive change in Sierra Leone's agriculture.</p>
    </div>

    <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><span>Join Us in Cultivating Change</span></h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">FarmConnect is not just a platform; it's a movement. Whether you're a farmer looking for fair opportunities or a supporter of sustainable agriculture, join us in cultivating change. Together, we can shape a future where every farmer thrives, and agriculture becomes a beacon of growth for Sierra Leone.</p>
    </div>
  </div>
{% endblock %}
