{% extends "base_site.html" %}

{% block content %}
<section>
    <h1>FarmConnect</h1> 
    <p>FarmConnect - Empowering Farmers through Digital Market Access</p>
</section>

<section>
    <h2>Project Objective</h2>
    <p>
    FarmConnect is a technology-driven initiative designed to enhance the well-being of small-scale 
    farmers in Sierra Leone. The primary goal of this project is to empower farmers by providing real-time 
    market price information and establishing a digital marketplace connecting them directly with buyers. 
    The project aims to boost transparency, reduce intermediary costs, and enable farmers to make 
    informed decisions about their agricultural produce
    </p>
</section>
<h2>Challenges addressed</h2>
<p>
Small-scale farmers in Sierra Leone encounter multiple challenges, including limited access to market 
data and dependency on intermediaries. FarmConnect seeks to address these challenges by unifying 
two essential components in one digital platform
</section>
<h2>Project Components</h2>
<ul>
    <li>
        <h3>Market Price Information System:</h3>
        <p>FarmConnect's Market Price Information System will deliver real-time market prices 
            for various agricultural commodities. This valuable data will be accessible to farmers 
            via an intuitive mobile application or web platform. The core objective of this 
            component is to arm farmers with actionable information, enabling them to make 
            well-informed decisions regarding when, where, and at what price to sell their crops</p>
    </li>
    <li>
        <h3><Electronic Marketplace:/h3>
        <p>The second facet of FarmConnect will introduce an electronic marketplace where 
            farmers can directly list their produce for sale, connecting them seamlessly with 
            potential buyers. This digital platform will facilitate secure communication and 
            negotiation between farmers and buyers, streamlining direct transactions. By 
            eliminating intermediaries and reducing the time it takes to bring produce to market, 
            this component strives to elevate farmers' income and profitability.</p>
    </li>
</ul>


{% endblock content %}