{% extends 'base_site.html' %}
{% load static %}

{% block content %}
  <!-- ====== Blog Section Start -->
  <section class="py-10 bg-white dark:bg-gray-800">
    <div>
      <div class="flex flex-wrap justify-center -mx-4">
        <div class="w-full px-4">
          <div class="mx-auto mb-[60px] max-w-[510px] text-center lg:mb-20">
            <span class="block mb-2 text-lg font-semibold text-primary">Our Blogs</span>
            <h2 class="mb-4 text-3xl font-bold text-dark sm:text-4xl md:text-[40px] dark:text-white">Our Recent News</h2>
            <p class="text-base text-body-color dark:text-dark-6">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
          </div>
        </div>
      </div>

      <div>
        <div class="grid gap-2 sm:grid-cols-2 lg:grid-cols-3">

        {% for blogpost in blogposts %}
          <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#"><img class="rounded-t-lg w-full" src="{{ blogpost.image.url}}" alt="blog banner" /></a>
            <div class="p-5">
              <a href="#"><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ blogpost.title|title  }}</h5></a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{blogpost.content|truncatechars:120}}</p>
              <a href="{% url "marketinfo:blogpost_detail" blogpost.slug %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
              </a>
            </div>
          </div>
          {% empty %}
          <h3 class="text-2xl font-medium text-center text-rose-400 dark:text-rose-200">No blog post available</h3>
        {% endfor %}
    </div>

      </div>
    </div>
  </section>
  <!-- ====== Blog Section End -->
{% endblock %}
