{% extends '_base.html' %}
{% block pagetitle %}
    <title>FarmConnect</title>
{% endblock pagetitle %}

{% block content %}
  <h1 class="text-3xl text-green-800">FarmConnect</h1>
  <p class="text-blue-800 font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, commodi saepe fugit culpa, sunt repudiandae rerum vel excepturi ex tempore odit quod fugiat molestiae aperiam blanditiis sint accusamus error eos minima harum ipsa, beatae nulla. Beatae pariatur nihil eos sint rerum quaerat quas, praesentium reprehenderit? Ut deserunt iusto itaque sed?</p>
{% endblock %}
